body {
  background-color: powderblue;
}
.menu {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 30px;
}

 .h2{
 margin-left: 25%;
 font-weight: bold;
 color: green;
 text-transform: uppercase;
 font-size: 50px;
 text-shadow: 1px 3px #900C3F;
}
.address,.info{
  margin-top: 2%;
 margin-left: 25%;
 font-weight: bold;
 font-size: 30px;
 color: grey  ;
}
.menu a {
  
  color: blue;
  padding: 13px;
 text-decoration-line: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.bottom {
  position: relative;
  text-align: center;
   overflow: auto;
  font-size: 30px;
  margin: 30px;
}

.menu a.active {
  background-color: lightgreen ;
  color: blue;
}
/* Links on mouse-over */
.menu a:hover:not(.active) {
  background-color: #507a18;
  color: grey;
  transform: scale(1.5);
}
